<div class="row">
    <h1>Hard & Soft Skills</h1>
      
   <div *ngFor="let ski of skills">
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <h2>{{ski.skill}}</h2>
        <circle-progress
          [percent]="ski.porcentaje"
          [radius]="100"
 [imageSrc]="ski.img"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#300C84'"
          [innerStrokeColor]="'#006666'"
          [animation]="true"
          [animationDuration]="500"
        ></circle-progress>
        
                            </div>
                          </div>
                        </div> 
             