<div class="row-fluid">
    <br>
    <br>
    <h1>Hard & Soft Skills<button (click)="onOpenModal(null!,'add')" type="button" class="botones_contenido" *ngIf="isAdmin" title="anadir" data-bs-toggle="modal" data-bs-target="#addSkillModal">
      <i class="fa-solid fa-plus"></i></button></h1>
      <br>
    <br>
   <div *ngFor="let ski of skills" class="circulo">
      <h2>{{ski.skill}}</h2>
        <circle-progress
          [percent]="ski.porcentaje"
          [radius]="100"
 [imageSrc]="ski.img"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#300C84'"
          [innerStrokeColor]="'#006666'"
          [animation]="true"
          [animationDuration]="500"
        ></circle-progress>
        <div id="eliminar-editar-skills" *ngIf="isAdmin">
          <button (click)="onOpenModal(ski,'edit')" type="button" class="botones_contenido" title="editar" data-bs-toggle="modal"
          data-bs-target="#updateSkillModal"> 
              <i class="fa-solid fa-pen"></i>
          </button>
          <button (click)="onOpenModal(ski,'delete')" type="button" class="botones_contenido" title="borrar" data-bs-toggle="modal"
          data-bs-target="#deleteSkillModal">
              <i class="fa-solid fa-eraser"></i>
          </button>
      </div>
        
                            </div>
                          </div>
                     <!-- Modal para agregar Skill -->
                     <div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="addSkillModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                             <div class="modal-header">
                                <h5 class="modal-title" id="addSkillModalLabel">Agregar Skill</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                             </div>
          <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddSkill(addForm)">
                <div class="form-group">
                <input type="hidden" ngModel name="id" class="form-control" id="id" placeholder="Id">
            <label for="habilidad">Habilidad</label>
             <input  type="text" ngModel name="skill"  class="form-control" required>
            </div>
             <div class="form-group">
                  <label for="porcentaje">Porcentaje</label>
            <input  type="text" ngModel name="porcentaje"  class="form-control" required>
        </div>
        <div class="form-group">
                  <label for="img">Imagen</label>
                <input  type="text" ngModel name="img"  class="form-control" required>
                </div>
                  <div class="modal-footer">
                      <button  type="button" id="add-skill-modal" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                  </div>
              </form>
          </div>
          
      </div>
  </div>
</div>
<!-- Modal para actualizar Skill -->
<div class="modal fade" id="updateSkillModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="updateSkillModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel2">Editar Habilidades</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form #editForm="ngForm">
                  <label for="skill">Habilidad</label><br>
                  <input ngModel type="text" ngModel="{{editSkill?.skill}} " name="skill"  class="form-control"><br>
                  <label for="porcentaje">Porcentaje</label><br>
                  <input  type="text" name="porcentaje" ngModel="{{editSkill?.porcentaje}}" class="form-control">
                  <label for="img">Imagen</label><br>
                  <input  type="text" name="img" ngModel="{{editSkill?.img}}" class="form-control">
                  <input type="hidden" name="id" ngModel="{{editSkill?.id}} ">
                  <div class="modal-footer">
                      <button id="update-skills-modal" type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                      <button (click)="onEditSkill(editForm.value)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Editar</button>
                  </div>
              </form>
          </div>
          
          
          
          
      </div>
  </div>
</div>

<!-- Modal para borrar Skill -->
<div class="modal fade" id="deleteSkillModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>Esta acción eliminará {{deleteSkill?.skill}} . ¿Desea continuar?</p>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
          <button (click)="onDeleteSkill(deleteSkill.id)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Sí</button>
          </div>
      </div>
  </div>
</div>




             