<div class="container-fluid">
<div class="row">
    <h1>Hard & Soft Skills</h1>
 
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
          [percent]="87"
          [radius]="100"
          [showUnits]="false"
          [title]="'HTML'"
          [titleFontSize]="'2em'"
          [titleColor]="'blue'"
          [showSubtitle]="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#300C84'"
          [innerStrokeColor]="'#006666'"
          [animation]="true"
          [animationDuration]="500"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
              [percent]="81"
              [radius]="100"
              [showUnits]="false"
              title="CSS"
              [titleFontSize]="'2em'"
          [titleColor]="'blue'"
              [showSubtitle]="false"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="3"
              [outerStrokeColor]="'#300C84'"
              [innerStrokeColor]="'#006666'"
              [animation]="true"
              [animationDuration]="500"
            ></circle-progress>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                  [percent]="73"
                  [radius]="100"
                  [showUnits]="false"
                  title="Angular"
                  [titleFontSize]="'2em'"
          [titleColor]="'blue'"
                  [showSubtitle]="false"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="3"
                  [outerStrokeColor]="'#300C84'"
                  [innerStrokeColor]="'#006666'"
                  [animation]="true"
                  [animationDuration]="500"
                ></circle-progress>
                </div>
                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                      [percent]="98"
                      [radius]="100"
                      [showUnits]="false"
                      title="Trabajo en equipo"
                      [titleFontSize]="'1em'"
          [titleColor]="'blue'"
                      [showSubtitle]="false"
                      [outerStrokeWidth]="10"
                      [innerStrokeWidth]="3"
                      [outerStrokeColor]="'#300C84'"
                      [innerStrokeColor]="'#006666'"
                      [animation]="true"
                      [animationDuration]="500"
                    ></circle-progress>
                    </div>
                    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                          [percent]="89"
                          [radius]="100"
                          [showUnits]="false"
                          title="Adaptabilidad"
                          [titleFontSize]="'1em'"
          [titleColor]="'blue'"
                          [showSubtitle]="false"
                          [outerStrokeWidth]="10"
                          [innerStrokeWidth]="3"
                          [outerStrokeColor]="'#300C84'"
                          [innerStrokeColor]="'#006666'"
                          [animation]="true"
                          [animationDuration]="500"
                        ></circle-progress>
                        </div>
                        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                            <circle-progress
                              [percent]="77"
                              [radius]="100"
                              [showUnits]="false"
                              title="Creatividad"
                              [titleFontSize]="'2em'"
          [titleColor]="'blue'"
                              [showSubtitle]="false"
                              [outerStrokeWidth]="10"
                              [innerStrokeWidth]="3"
                              [outerStrokeColor]="'#300C84'"
                              [innerStrokeColor]="'#006666'"
                              [animation]="true"
                              [animationDuration]="500"
                            ></circle-progress>
                            </div>
</div>
</div>
