<div class="row">
    <h1>Experiencia Laboral</h1>
    
    <div class="col-lg-1"></div>
    <div class="col-lg-10"></div>
              <div *ngFor=" let exp of experiencia">
                <ng-template #popContent>Hello, <b>{{exp.fecha_inicio}}</b>!</ng-template>
<ng-template #popTitle>Fancy <b>content!!</b></ng-template>
<button type="button" class="btn btn-outline-secondary" [ngbPopover]="popContent" [popoverTitle]="popTitle">
  {{exp.cargo}}
</button>
              </div>
            </div>  
