 <div class="row">
      <h1>Experiencia Laboral</h1>
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div *ngFor="let exp of experiencias">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <strong>{{exp.cargo}}</strong>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <p><strong>{{exp.nombre_empresa}}> /// {{exp.fecha_inicio}} - {{exp.fecha_fin}}</strong></p>
                      <br>
                      <p>{{exp.descripcion}}</p>
                      <div id="eliminar-editar-trabajos" *ngIf="isAdmin">                    
                <button (click)="onOpenModal(exp,'edit')" type="button" class="botones_contenido" title="boton-editar">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <button (click)="onOpenModal(exp,'delete')" type="button" class="botones_contenido" title="boton-borrar">
                    <i class="fa-solid fa-eraser"></i>
                </button>     
            </div> 
        </div>
    </div>
</div>


<!-- Modal para agregar Experiencia -->
<div class="modal fade" id="addExperienciaModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addExperienciaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Agregar Experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddExperiencia(addForm)">
                    <label for="Cargo">Puesto</label><br>
                    <input ngModel type="text" name="Cargo"  class="form-control">
                    <label for="nombre_empresa">Empresa</label><br>
                    <input ngModel type="text" name="nombre_empresa"  class="form-control">
                    <label for="fecha_inicio">Fecha de Inicio</label><br>
                    <input ngModel type="text" name="fecha_inicio"  class="form-control">
                    <label for="fecha_fin">Fecha de Finalización</label><br>
                    <input ngModel type="text" name="fecha_fin"  class="form-control">
                    <label for="es_trabajo_actual">Es trabajo actual (0 para NO, 1 para SI)</label><br>
                    <input ngModel type="text" name="es_trabajo_actual"  class="form-control">
                    <label for="descripcion">Descripción</label><br>
                    <input ngModel type="text" name="descripcion"  class="form-control">
                    <div class="modal-footer">
                        <button  type="button" id="add-experiencia-modal" class="btn" data-dismiss="modal">Cancelar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn">Agregar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
<!-- Modal para actualizar Experiencia -->
<div class="modal fade" id="updateExperienciaModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="updateExperienciaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Editar Experiencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <label for="cargo">Puesto</label><br>
                    <input ngModel="{{editExperiencia?.cargo " type="text" name="cargo"  class="form-control"><br>
                    <label for="nombre_empresa">Empresa</label><br>
                    <input ngModel="{{editExperiencia?.nombre_empresa}}" type="text" name="nombre_empresa"  class="form-control">
                    <label for="fecha_inicio">Fecha de Inicio</label><br>
                    <input ngModel="{{editExperiencia?.fecha_inicio}}" type="text" name="fecha_inicio"  class="form-control">
                    <label for="fecha_fin">Fecha de Finalización</label><br>
                    <input ngModel="{{editExperiencia?.fecha_fin}}" type="text" name="fecha_fin"  class="form-control">
                    <label for="descripcion">Es trabajo actual (0 para NO, 1 para SI)</label><br>
                    <input ngModel="{{editExperiencia?.es_trabajo_actual}}" type="text" name="es_trabajo_actual"  class="form-control">
                    <label for="descripcion">Descripción</label><br>
                    <input ngModel="{{editExperiencia?.descripcion}}" type="text" name="descripcion"  class="form-control">
                    <input type="hidden" name="id" ngModel="{{editExperiencia?.id}} ">
                    <div class="modal-footer">
                        <button id="update-experiencia-modal" type="button" class="btn" data-dismiss="modal">Cancelar</button>
                        <button (click)="onEditExperiencia(editForm.value)" type="button" class="btn" data-dismiss="modal">Guardar cambios</button>
                    </div>
                </form>
            </div>
            
            
            
            
        </div>
    </div>
</div>

<!-- Modal para borrar Experiencia -->
<div class="modal fade" id="deleteExperienciaModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="deleteExperienciaModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Esta acción eliminará  "{{deleteExperiencia?.cargo}}". ¿Desea continuar?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">No</button>
            <button (click)="onDeleteExperiencia(deleteExperiencia.id)" type="button" class="btn" data-dismiss="modal">Sí</button>
            </div>
        </div>
    </div>
</div>

                  </div>
                </div>
                </div>
        
              