<div class="container">
    <div id="score"></div>
    <canvas id="game" width="375" height="375"></canvas>
    <div id="introduction">Mantenga presionado el mouse para estirar un palo</div>
    <div id="perfect">SCORE AL DOBLE</div>
    <button id="restart">REINICIAR</button>
  </div>
  
  <a id="youtube" href="https://youtu.be/eue3UdFvwPo" target="_blank" rel="noopener">
    <span>See how this game was made</span>
  </a>
  <div id="youtube-card">
    How to create a Stick Hero game with JavaScript and HTML Canvas
  </div>
