<div>
    <a href="https://www.facebook.com/nancyscipioni"><img src="../../../assets/facebook1.png" id="facebook" alt="facebook"></a>
    <a href="https://twitter.com/nancyyyyyyy"><img src="../../../assets/gorjeo.png" id="twitter" alt="twitter"></a>
    <a href="https://www.instagram.com/nancyscipioni/"><img src="../../../assets/instagram.png" id="instagram" alt="instagram"></a>
    <a href="https://www.linkedin.com/in/nancy-erica-scipioni"><img src="../../../assets/linkedin.png" id="linkedin" alt="linkedin"></a>
    <a href="https://github.com/nancyscip"><img src="../../../assets/github.png" id="github" alt="github"></a>
</div>
