.row{
    padding: 20px;
}

div{
    background-color: #010005;
    text-align: center;
}

/*id fotodeperfil*/
  @media(min-width:576px){
  #fotodeperfil{
position:absolute;
width: 10%;
border-radius: 100%;
box-shadow: 3px 3px 3px blue;
left: 7%;
top: 720px;
  }
}
@media(max-width:576px){
    #fotodeperfil{
  position:absolute;
  width: 10%;
  border-radius: 100%;
  box-shadow: 3px 3px 3px blue;
  left: 7%;
  top: 1100px;
    }
  }

  /*id nombre*/
#nombre{
  margin-top: 7%;
    font-weight: bolder;
    font-size:x-large ;
    font-family: Arial, Helvetica, sans-serif;
    
  }

  /*id titulo*/
  #titulo{
    font-weight: bold;
  }
h1{
  font-style: italic;
  color: #3a03bb;
}
h5{
  color: #3a03bb;
}
#mail, #telefono, #ciudad{
  font-style: italic;
}
strong{
  color:rgb(172, 116, 5);
}
.botones_contenido {
  border: none;
  background: none;
  padding: 2px;
  color:aliceblue;
}
