<div class="row">
            <div class="col-2">
                <img src="../../../assets/foto.jpg" alt="fotoperfil" class="img-fluid" id="fotodeperfil">
            </div>
    <div class="col-3">
            <p id="nombre"><font color="#660066">Nancy Erica Scipioni</font></p>
            <p id="titulo"><font color="#0099cc">Full Stack Developer Jr.</font></p>
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Contacto
              </button>
        </div>
        <div class="col-6">
            <span>
                <h1>Acerca de mi</h1>
                <p class="p-2 bg-secondary text-white">Amante de la tecnología. Mi área preferida de trabajo es FrontEnd aunque mi titulación es Full Stack Web Developer. Mi stack de trabajo incluye #HTML #CSS #Bootstrap #Angular. Próximamente iré adquiriendo más habilidades y conocimientos.</p>
            </span>
        </div>
  </div>
