<div class="row">
            <div class="col-2" *ngFor="let persona of personas">
                <img src={{persona.img}} alt="fotoperfil" class="img-fluid" id="fotodeperfil">
            </div>
    <div class="col-3" *ngFor="let persona of personas">
      <p id="nombre"><font color="#660066">{{persona.nombre}} {{persona.apellido}}</font></p>
            <p id="titulo"><font color="#0099cc">{{persona.titulo}}</font></p>
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Contacto
              </button>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Contacto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngFor="let persona of personas">
          <p id="mail"><font color="#660066">Mail de Contacto:</font></p>
          <p><strong>{{persona.correo}}</strong></p>
          <p id="telefono"><font color="#660066">Teléfono:</font></p>
          <p><strong>{{persona.telefono}}</strong></p>
          <p id="ciudad"><font color="#660066">Ciudad, Provincia, País:</font></p>
          <p><strong>{{persona.domicilio}}</strong></p>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
        <div class="col-6" *ngFor="let persona of personas">
            <span>
                <h1>Acerca de mi</h1>
                <p class="p-2 bg-secondary text-white">{{persona.sobre_mi}}</p>
            </span>
        </div>
      </div>

