<div class="row">
    <h1>Proyectos</h1>
    <br>
  </div>
    <div class="row">
        <div class="col-lg-2"></div>
    <div class="card w-75">
        <img src="../../../assets/frut.png" class="card-img-top" alt="frutasyverduras">
        <div class="card-body">
          <h5 class="card-title">Mi Primer Proyecto</h5>
          <p class="card-text">Proyecto para clase sincrónica de #ArgentinaPrograma. Uso de #HTML #CSS. Primer proyecto (durante el primer mes de cursado). Práctica listas y estilos.</p>
          <a href="https://github.com/nancyscip/nancyscip.github.io" target="_blank" rel="noopener noreferrer" class="card-link">Link al repositorio</a>
          <br>
          <br>
          <a href="https://nancyscip.github.io/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ir al Proyecto</a>
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col-lg-2"></div>
      <div class="card w-75">
        <img src="../../../assets/calc.png" class="card-img-top" alt="calculadora-simple">
        <div class="card-body">
          <h5 class="card-title">Calculadora Simple</h5>
          <p class="card-text">Práctica. Calculadora simple y sencilla pero funcional. Uso de #HTML #CSS.</p>
          <a href="https://github.com/nancyscip/calculator" target="_blank" rel="noopener noreferrer" class="card-link">Link al repositorio</a>
          <br>
          <br>
          <a href="https://1234calculadora.netlify.app/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ir al Proyecto</a>
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col-lg-2"></div>
      <div class="card w-75">
        <img src="../../../assets/calc1.png" class="card-img-top" alt="calculadora-decimal">
        <div class="card-body">
          <h5 class="card-title">Calculadora Decimal</h5>
          <p class="card-text">Calculadora sencilla con función decimal #HTML #CSS #JS.</p>
          <a href="https://github.com/nancyscip/Calculadora-decimal" target="_blank" rel="noopener noreferrer" class="card-link">Link al repositorio</a>
          <br>
          <br>
          <a href="https://calculadoradecimal.netlify.app/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ir al Proyecto</a>
        </div>
      </div>
      </div>
      <footer><p>Nancy Erica Scipioni | © Argentina Programa 2022</p>
        <p>Rosario - Santa Fe - Argentina</p>
        </footer>

