div{
    background-color: #010005;
    margin-right: 0px;
}
h5{
    color: #3a03bb;
  }
  label {
    color: cadetblue;
  }

br{
    background-color: #010005;
}
h1{
    margin-left: 20px;
    font-style: italic;
    color: #3a03bb;
}
.card-body{
    background-color: grey;
    border-color: blue;
}
.card w-75{
    border-width: medium;
}
footer{
    background-color: #010005;
    color: #fefefe;
    text-align: center;
    text-shadow: dimgray;
}
#creacion{
    text-align: right;
}
.row{
    background-color: #010005;
}