<div class="row">
    <br>
    <br>
    <h1>Proyectos<button (click)="onOpenModal(null!,'add')" type="button" class="botones_contenido" *ngIf="isAdmin" title="anadir" data-bs-toggle="modal" data-bs-target="#addProyectoModal">
        <i class="fa-solid fa-plus"></i>
        </button></h1>
    <br>

            </div>
 
    <div class="row">
        <br>
    <br>
        <div class="col-lg-2"></div>
    <div class="card w-75">
      <div *ngFor="let proy of proyectos">
        <img src="{{proy.img}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{proy.nombre}}</h5>
          <p class="card-text">{{proy.descripcion}}</p>
          <a href="{{proy.github}}" target="_blank" rel="noopener noreferrer" class="btn btn-info">Link al repositorio</a>
          <br>
          <br>
          <a href="{{proy.proyecto}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ir al Proyecto</a>
          <p id="creacion">{{proy.fecha}}</p>
        
 
  <div class="textoarriba" id="eliminar-editar-proyectos" *ngIf="isAdmin">
                                <button (click)="onOpenModal(proy,'edit')" type="button" class="botones_contenido" title="editor" data-bs-toggle="modal" data-bs-target="#updateProyectoModal">
                                <i class="fa-solid fa-pen"></i>
                                </button>
                                <button (click)="onOpenModal(proy,'delete')" type="button" class="botones_contenido" title="ELIMINAR" data-bs-toggle="modal" data-bs-target="#deleteProyectoModal">
                                <i class="fa-solid fa-eraser"></i>
                                </button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

<!-- Modal para agregar Skill -->
<div class="modal fade" id="addProyectoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addProyectoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProyectoModalLabel">Agregar Proyecto</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddProyecto(addForm)">
                    <div class="form-group">
                        <input type="hidden" ngModel name="id" class="form-control" id="id" placeholder="Id">
                    <label for="nombre">Nombre del Proyecto</label>
                    <input type="text" ngModel name="nombre"  class="form-control" required>
                    </div>
                    <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" ngModel name="descripcion"  class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha</label>
                    <input type="text" ngModel name="fecha"  class="form-control" required>
                </div>
                    <div class="form-group">
                    <label for="img">Imagen del Proyecto</label>
                    <input type="text" ngModel name="img"  class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="github">Github</label>
                    <input type="text" ngModel name="github"  class="form-control" required>
                </div>
                    <div class="form-group">
                    <label for="proyecto">Url del Proyecto</label>
                    <input type="text" ngModel name="proyecto"  class="form-control" required>
                </div>
                    <div class="modal-footer">
                        <button  type="button" id="add-proyecto-modal" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
<!-- Modal para actualizar Skill -->
<div class="modal fade" id="updateProyectoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="updateProyectoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateProyectoModalLabel">Editar Proyecto</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #updateForm="ngForm">
                    <label for="nombreProyecto">Nombre del Proyecto</label><br>
                    <input ngModel type="text" ngModel="{{editProyectos?.nombre}} " name="nombre"  class="form-control">
                    <label for="descripcion">Descripción</label><br>
                    <input  type="text" name="descripcion" ngModel="{{editProyectos?.descripcion}}" class="form-control">
                    <label for="fecha">Fecha</label><br>
                    <input ngModel type="text" ngModel="{{editProyectos?.fecha}} " name="fecha"  class="form-control">
                    <label for="img">Imagen</label><br>
                    <input ngModel type="text" ngModel="{{editProyectos?.img}} " name="img"  class="form-control">
                    <label for="github">Github</label><br>
                    <input ngModel type="text" ngModel="{{editProyectos?.github}} " name="github"  class="form-control">
                    <label for="proyecto">Url del proyecto</label><br>
                    <input ngModel type="text" ngModel="{{editProyectos?.proyecto}} " name="proyecto"  class="form-control">
                    <input type="hidden" name="id" ngModel="{{editProyectos?.id}} ">
                    <div class="modal-footer">
                        <button id="update-proyecto-modal" type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button (click)="onUpdateProyecto(updateForm.value)" type="button" class="btn btn-primary" data-bs-dismiss="modal">Guardar cambios</button>
                    </div>
                </form>
            </div>
            
            
            
            
        </div>
    </div>
</div>

<!-- Modal para borrar Skill -->
<div class="modal fade" id="deleteProyectoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="deleteProyectoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Esta acción eliminará "{{deleteProyectos?.nombre}}". ¿Desea continuar?</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            <button (click)="onDeleteProyecto(deleteProyectos.id)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Sí</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
<br>
    <br>
    <div class="d-grid gap-1 col-6 mx-auto">
    <button type="button" class="btn btn-warning btn-lg" (click)="easteregg()">Bonus Track</button>
</div>
</div>
      <div class="row">
      <footer><p>Nancy Erica Scipioni | © Argentina Programa 2022</p>
        <p>Rosario - Santa Fe - Argentina</p>
        </footer>
      </div>
