div{
    background-color: #010005;
}

h1{
    margin-left: 20px;
    font-style: italic;
    color: #3a03bb;
}
.card-body{
    background-color: grey;
    border-color: blue;
}
.card w-75{
    border-width: medium;
}