<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  <strong>Full Stack Developer</strong>
                </button>
              </h2>
              <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>Argentina Programa #YoProgramo. /// Febrero 2022 - Agosto 2022</strong><br>Habilidades digitales, Arquitectura Web, Git/Github, Operadores de búsqueda, SCRUM, Gestión del tiempo, APIs, HTML, CSS, Javascript, Typescript, Bootstrap, Angular, SQL, SPA, MPA, POO, Java, JSP, Spring Boot, DevOps, Seguridad Web, Testing, Deploy.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                  <strong>Armado y reparación de PC</strong>
                </button>
              </h2>
              <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>Instituto Santa Fe /// Mayo 2001 - Octubre 2001</strong><br>Diagnóstico de fallas, Recambio de partes dañadas, Instalación y configuración de Hardware, Software y Sistemas Operativos.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                  <strong>Perito Mercantil</strong>
                </button>
              </h2>
              <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p><strong>E.E.M. Nº 422 /// >Marzo 1996 - Diciembre 2000</strong><br>Título secundario orientado a análisis económico dentro de una empresa.</p>
                </div>
              </div>
            </div>
          </div>
</div>
</div>
