div{
    background-color: #010005;
    text-align: left;
    margin-right: 0px;
}
h5{
    color: #3a03bb;
  }
    h1{
        margin-left: 20px;
        font-style: italic;
        color: #3a03bb;
    }

.accordion-button{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: cadetblue;
}

img{
    width:70px;
    height:50px;
}
label {
    color: cadetblue;
  }