<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Full Stack Developer</h3>
            <h6>Argentina Programa #YoProgramo</h6><h6>Febrero 2022 - Agosto 2022</h6></li></ul>
                <p>Habilidades digitales, Arquitectura Web, Git/Github, Operadores de búsqueda, SCRUM, Gestión del tiempo, APIs, HTML, CSS, Javascript, Typescript, Bootstrap, Angular, SQL, SPA, MPA, POO, Java, JSP, Spring Boot, DevOps, Seguridad Web, Testing, Deploy</p>
                <ul>
                    <li>
                        <h3>Armado y reparación de PC</h3>
                    <h6>Instituto Santa Fe</h6><h6>Mayo 2001 - Octubre 2001</h6></li></ul>
                        <p>Diagnóstico de fallas, Recambio de partes dañadas, Instalación y configuración de Hardware, Software y Sistemas Operativos</p>
                        <ul>
                            <li>
                                <h3>Perito Mercantil</h3>
                            <h6>E.E.M. Nº 422</h6><h6>Marzo 1996 - Diciembre 2000</h6></li></ul>
</div>
</div>
